<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API automation suite">
    <test name="API Test">
        <classes>
            <class name="POST_TEST"/>
            <class name="PUT_TEST"></class>
            <class name="PATCH_TEST"></class>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->